body 
{
	background-image: url(../img/imagensalyluz.jpg);
	width: 600px;
	margin: 0 auto;
	padding: 0 20px 20px 20px;
	border: 3px solid white;
	background-position: center;

}
body.contemosla13 
{
	background-image: url(../img/imagensalyluz.jpg);
	width: 600px;
	margin: 0 auto;
	padding: 0 20px 20px 20px;
	border: 3px solid white;
	background-position: center;
	box-shadow:0 0 0 6px rgba(121,82,179,0.25);
	
}

div.container.p-4{
	font-weight: 600;
}

.form-label{
	font-weight: 500;
	color: white;
}

.titu{
	text-align: center;
	text-decoration: underline;
	color: white;
}

.tituloLAB{
	text-align: center;
	text-decoration: underline;
	color: #0d6efd;
}

.btn-cancel{
	background-color: indianred;
	text-decoration: none;
	color: black;
	font-weight: 600;
	border-radius: 5px;
}

button.btn-success {
	border-radius: 5px;
    color: black;
    text-decoration: none;
    background-color: #198754;
    border-color: #198754;
}
a.btn-success {
	border-radius: 5px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    background-color: #198754;
    border-color: #198754;
}

a.registroAqui{
	color: white;
}

div.divRegis{
	margin-bottom: 10px;
}

.btn-save{
	background-color: green;
	font-weight: 600;
	border-radius: 5px;
	text-decoration: none;
	color: black;
}

.btn-login{
	background-color: green;
	font-weight: 600;
	border-radius: 5px;
}
.btn-secondary1{
	text-decoration: none;
	background-color: gray;
	font-weight: 600;
	border-radius: 5px;
	color: black;
}

.btn-register{
	text-decoration: none;
	color: black;
	background-color: indianred;
	font-weight: 600;
	border-radius: 5px;
}

.btn-cancel-fut{
	background-color: indianred;
	text-decoration: none;
	color: black;
	font-weight: 600;
	border-radius: 5px;
	margin-top: 20px;
}

div.contemosla13{
	background-color: white;
}

div
{
	background: #4a69bd;
}

.list-group{
	text-decoration: underline;
	font-weight: 450;
	color: blue;
}

div.card-body1{
	background-color: white;
}
p.describe{
	font-size: x-large;
	font-family: Calisto MT;

}
.asisCedula{
	display: grid;
	margin-top: 20px;
	margin-bottom: 20px;

}

