<!DOCTYPE html>
<html lang="en">
<head>
	<script type="text/javascript"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"
	>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
	<title>Fundacion Sal y Luz</title>
  <link rel="stylesheet" type="text/css" href="/resources/css/homeStyles.css">
</head>
<body>
	<center>
	<h1>
		Corporación Sal y Luz
	</h1>
	</center>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid" >
    <a class="navbar-brand" >Eventos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Futbol
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="ninosFutbol">Menores</a></li>
            <li><a class="dropdown-item" href="adolescenteFutbol">Adolescentes</a></li>
            <li><a class="dropdown-item" href="adultoFutbol">Adultos</a></li>
          </ul>         
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cocina
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="cocinaMenores">Menores</a></li>
            <li><a class="dropdown-item" href="cocinaAdolescentes">Adolescentes</a></li>
            <li><a class="dropdown-item" href="cocinaAdultos">Adultos</a></li>
          </ul>         
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Lectura
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="menoresLectura">Menores</a></li>
            <li><a class="dropdown-item" href="adolescentesLectura">Adolescentes</a></li>
            <li><a class="dropdown-item" href="adultosLectura">Adultos</a></li>
          </ul>         
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Escritura
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="menoresEscritura">Menores</a></li>
            <li><a class="dropdown-item" href="adolescentesEscritura">Adolescentes</a></li>
            <li><a class="dropdown-item" href="adultosEscritura">Adultos</a></li>
          </ul>         
        </li>
      </ul>
    </div>
    <a href="./inicioSesion" align="left"><h5>Inicio de sesion /</h5></a>
  </div>
  <a href="./areaRegistro"><h5> Registrate aquí</h5></a>
</nav>
</ul>

<div class="container">
  <div class="row">
    <div class="col-sm">
    	<h4>Quienes somos?</h4>
      Somos una corporación con más de 30 años de experiencia en proyectos de promoción social de diversa índole temática, en procesos de prevención a la emergencia del delito, prevención a las drogas y mecanismos pacíficos de reconciliación en la comuna 13.
    </div>
    <div class="col-sm">
     <h4>Contactanos</h4>
     <p>
     <a href="https://www.facebook.com/
     Corporaci%C3%B3n-Sal-y-Luz-107960750690972/">Facebook</a>
     </p>
     <p>
     <label>Correo electronico: salyluzcorp@yahoo.com</label>
     </p>
     <p>
     <label>Celular: 322 5056638</label>
     </p>
    </div>

    <div class="col-sm">
      <h3>Empresas alidas</h3>
      <p>
      	1
      </p>
      <p>
      	2
      </p>
       <p>
      	3
      </p>
    </div>
  </div>
</div>
<center>
<h4>INFORMACION DE INTERES GENERAL</h4>
</center>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h5>Para nuestros usuarios: </h5>
      Más de 20 años siendo Sal para dar sabor y Luz para Iluminar el mundo y serán muchos más, muchas gracias a nuestra razón de ser "La Comunidad" por creer... a las organizaciones, colectivos y líderes aliados nuestros， muchas gracias por sumarse a transformar con nosotros.
    </div>
    <div class="col-sm">
      <h5>Algo más: </h5>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel justo id massa tristique luctus. Suspendisse augue nisi, aliquam non elit ac, iaculis posuere tellus. Morbi et neque ut orci sagittis commodo. Mauris orci tellus, blandit a vulputate eu, bibendum quis arcu. Nullam nec nibh commodo, maximus neque et, finibus metus. Cras non enim vehicula, condimentum erat ut, euismod massa. Donec id dolor egestas sem consectetur viverra et id tortor. Aliquam hendrerit pulvinar velit, ac auctor augue scelerisque at. Donec vitae malesuada nibh. Vestibulum bibendum dignissim nisi, ut sollicitudin quam molestie quis. Cras aliquet malesuada auctor. Quisque feugiat aliquet libero sit amet gravida.
    </div>
    </div>
  </div>
  <div class="container">
  <div class="row">
   <div class="col-sm">
      <h5>Algo más: </h5>
     Proin nec mattis nulla, ac lobortis augue. Duis non fringilla tortor. Suspendisse nec ligula elit. Phasellus tempor, leo a eleifend tempus, urna orci efficitur sapien, eu pellentesque nulla nulla sit amet neque. Cras vitae erat egestas, facilisis ipsum vitae, interdum est. Vestibulum sodales quis lorem a commodo. Duis aliquet, mauris eu bibendum semper, dui lacus tincidunt mi, ac finibus nunc sem sed quam. Aenean hendrerit malesuada enim non ornare. Donec ut mi a sapien mollis consectetur at ut lectus. Pellentesque fringilla diam id turpis malesuada, eget finibus ipsum porttitor. Praesent facilisis rhoncus libero, eu molestie leo vulputate ac. Vestibulum odio ipsum, vestibulum nec tellus faucibus, commodo consequat dolor. Praesent quis libero justo. Etiam vitae leo molestie, condimentum neque ut, congue felis. Mauris magna arcu, varius nec accumsan nec, laoreet a dolor. Etiam fermentum tristique lacinia.
    </div>
    <div class="col-sm">
      <h5>Algo más: </h5>
     Proin nec mattis nulla, ac lobortis augue. Duis non fringilla tortor. Suspendisse nec ligula elit. Phasellus tempor, leo a eleifend tempus, urna orci efficitur sapien, eu pellentesque nulla nulla sit amet neque. Cras vitae erat egestas, facilisis ipsum vitae, interdum est. Vestibulum sodales quis lorem a commodo. Duis aliquet, mauris eu bibendum semper, dui lacus tincidunt mi, ac finibus nunc sem sed quam. Aenean hendrerit malesuada enim non ornare. Donec ut mi a sapien mollis consectetur at ut lectus. Pellentesque fringilla diam id turpis malesuada, eget finibus ipsum porttitor. Praesent facilisis rhoncus libero, eu molestie leo vulputate ac. Vestibulum odio ipsum, vestibulum nec tellus faucibus, commodo consequat dolor. Praesent quis libero justo. Etiam vitae leo molestie, condimentum neque ut, congue felis. Mauris magna arcu, varius nec accumsan nec, laoreet a dolor. Etiam fermentum tristique lacinia.
    </div>

    </div>
  </div>
</body>
</html>